body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.inputTitle{
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
}
.signInWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userDetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.createAccountLinkWrapper {
  display: flex;
  flex-direction: row;
}

.mainPageWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 10px;
  padding-left: 50px;
  background-color: #a6a6a6;
}
.cardContainerWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  height: 350px;
  
  
}::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.cardListTitle {
  display: flex;
  font-size: 25px;
  font-weight: 550;
}
.cardWrapper {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  max-height: 200px;
  margin: 10px;
}
.cardWrapper:hover {
  z-index: 99;
  transition: .4s;
  transform: scale(1.25);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.starFav {
  z-index: 99;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 4px;
  color: black;
}
.topicHeaderWrapper {
  display: flex;
}
.arrowWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.popover {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 30px;
  box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 20%);
}

.chipWrapper {
  cursor: pointer !important;
  margin-right: 7px !important;
}
.topicListContainerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.topicListTitle {
  font-size: 20px;
  font-weight: 550;
  margin-bottom: 15px;
}

.logo2 {
  width: 55px;
  height: 55px;
}

.discovery-title {
  cursor: pointer;
  margin-left: 30px;
  font-size: 22px;
  color: white;
}

.leftMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}
